<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Study</title>
</head>
<body>
    <h3>List of participants</h3>
    <table border=1>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Functional Role</th>
            <th>Location</th>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.name }}</td>
                <td>{{ participant.phone_number }}</td>
                <td>{{ participant.role }}</td>
                <td>{{ participant.location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<form method="post" class="form-horizontal col-lg-5" action="{{ url_for('create_participant') }}">
    <div class="form-group">
        <h3>Create a new Participant</h3>
        <p>Name: {{ form.name }} </p>
        <p>Phone number: {{ form.phone_number }} </p>
        <p>Functional role: {{ form.role }}</p>
        <p>Location: {{ form.location }}</p>
        <button type="submit" class="btn btn-default">Create</button>
    </div>
</form>


</body>
</html>